.mediaViewInfo {
	--web-view-name: about;
	--web-view-id: about;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: about;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#about {
	position: absolute;
	width: 1400px;
	height: 5308px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: about;
	--web-view-id: about;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#footer_ly {
	position: absolute;
	width: 1400px;
	height: 800px;
	left: 0px;
	top: 4508px;
	overflow: visible;
}
#div-pink_lz {
	fill: rgba(255,93,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.div-pink_lz {
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 800px;
	left: 0px;
	top: 0px;
}
#All_Images_courtesy_of_unsplas_l {
	left: 705px;
	top: 759px;
	position: absolute;
	overflow: visible;
	width: 305px;
	height: 19px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Taniti__2022_All_Rights_Reserv_l {
	left: 392px;
	top: 761px;
	position: absolute;
	overflow: hidden;
	width: 305px;
	height: 15px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#site-links_l {
	position: absolute;
	width: 1242px;
	height: 583px;
	left: 76px;
	top: 140px;
	overflow: visible;
}
#promo_l {
	position: absolute;
	width: 114px;
	height: 179px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Promotions__l {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 101px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: promo.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Holiday_Calendar_l {
	opacity: 0.35;
	left: 0px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 101px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Weddings__Honeymoons_l {
	opacity: 0.35;
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Business_l {
	opacity: 0.35;
	left: 0px;
	top: 128px;
	position: absolute;
	overflow: visible;
	width: 101px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Sports_l {
	opacity: 0.35;
	left: 0px;
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 101px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#about_l {
	position: absolute;
	width: 105px;
	height: 194px;
	left: 288px;
	top: 0px;
	overflow: visible;
}
#About_ma {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 57px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Natural_Experiences_mb {
	opacity: 0.35;
	left: 0px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Indoor_Experiences_mc {
	opacity: 0.35;
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Outdoor_Experiences_md {
	opacity: 0.35;
	left: 0px;
	top: 128px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Our_Locals_me {
	opacity: 0.35;
	left: 0px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#lodging_mf {
	position: absolute;
	width: 87px;
	height: 198px;
	left: 567px;
	top: 0px;
	overflow: visible;
}
#Lodging_mg {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: lodging.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Hotels_mh {
	opacity: 0.35;
	left: 0px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Bed-n-Breakfast_mi {
	opacity: 0.35;
	left: 0px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 88px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Beach_Houses_mj {
	opacity: 0.35;
	left: 0px;
	top: 113px;
	position: absolute;
	overflow: visible;
	width: 88px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Private_Homes_mk {
	opacity: 0.35;
	left: 0px;
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 88px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#transit_ml {
	position: absolute;
	width: 114px;
	height: 233px;
	left: 828px;
	top: 0px;
	overflow: visible;
}
#Transit_mm {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: lodging.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Car_Rental_mn {
	opacity: 0.35;
	left: 0px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 62px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Taxis_mo {
	opacity: 0.35;
	left: 0px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 62px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Walking_mp {
	opacity: 0.35;
	left: 0px;
	top: 105px;
	position: absolute;
	overflow: visible;
	width: 71px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Bicycles_mq {
	opacity: 0.35;
	left: 0px;
	top: 135px;
	position: absolute;
	overflow: visible;
	width: 78px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Car_Share_mr {
	opacity: 0.35;
	left: 0px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#ShuttlesPublic_Transit_ms {
	opacity: 0.35;
	left: 0px;
	top: 195px;
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#dining_mt {
	position: absolute;
	width: 126px;
	height: 139px;
	left: 1116px;
	top: 0px;
	overflow: visible;
}
#Dining_mu {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 55px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: dining.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Restaurants_mv {
	opacity: 0.35;
	left: 0px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Super_Markets_mw {
	opacity: 0.35;
	left: 0px;
	top: 70px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Grocery_mx {
	opacity: 0.35;
	left: 0px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Convenience_my {
	opacity: 0.35;
	left: 0px;
	top: 120px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#experiences__mz {
	position: absolute;
	width: 914px;
	height: 270px;
	left: 174px;
	top: 313px;
	overflow: visible;
}
#Experiences_m {
	left: 397px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: experiences.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Nature_m {
	opacity: 0.55;
	left: 0px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
	text-decoration: underline;
}
#Beaches_m {
	opacity: 0.35;
	left: 0px;
	top: 79px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Rainforests_m {
	opacity: 0.35;
	left: 0px;
	top: 120px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Volcano_m {
	opacity: 0.35;
	left: 0px;
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Indoor_Venues_m {
	opacity: 0.55;
	left: 253px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
	text-decoration: underline;
}
#PubsMicrobrewery_m {
	opacity: 0.35;
	left: 253px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Movie_Theater_m {
	opacity: 0.35;
	left: 253px;
	top: 114px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Arcade_m {
	opacity: 0.35;
	left: 253px;
	top: 142px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Art_Gallery_m {
	opacity: 0.35;
	left: 253px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Bowling_na {
	opacity: 0.35;
	left: 253px;
	top: 198px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Nightclub_nb {
	opacity: 0.35;
	left: 253px;
	top: 226px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Guided_Activitites_nc {
	opacity: 0.55;
	left: 524px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 134px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
	text-decoration: underline;
}
#Native_Architecture_nd {
	opacity: 0.35;
	left: 524px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Fish_Tours_ne {
	opacity: 0.35;
	left: 524px;
	top: 122px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Helicopter_Tour_nf {
	opacity: 0.35;
	left: 524px;
	top: 155px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#BoatBus_Tours_ng {
	opacity: 0.35;
	left: 524px;
	top: 187px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Ziplining_nh {
	opacity: 0.35;
	left: 524px;
	top: 219px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Snorkeling_ni {
	opacity: 0.35;
	left: 524px;
	top: 251px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Future_Experiences_nj {
	opacity: 0.55;
	left: 788px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
	text-decoration: underline;
}
#Golf_nk {
	opacity: 0.35;
	left: 788px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Taniti_Sitemap_nl {
	left: 70px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 1261px;
	height: 49px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(255,249,178,1);
}
#agent_nm {
	position: absolute;
	width: 1400px;
	height: 800px;
	left: 0px;
	top: 3708px;
	overflow: visible;
}
#col-2_nn {
	position: absolute;
	width: 479px;
	height: 795px;
	left: 921px;
	top: 5px;
	overflow: visible;
}
#div_no {
	fill: transparent;
}
.div_no {
	position: absolute;
	overflow: visible;
	width: 479px;
	height: 795px;
	left: 0px;
	top: 0px;
}
#contact_np {
	position: absolute;
	width: 397px;
	height: 384px;
	left: 12px;
	top: 269px;
	overflow: visible;
}
#Please_allow_a_few_business_da_nq {
	left: 1px;
	top: 343px;
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 41px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(63,7,19,1);
}
#emailusvisittaniticom_nr {
	left: 1px;
	top: 234px;
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 41px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(63,7,19,1);
}
#n_55-555-4321_ns {
	left: 0px;
	top: 158px;
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 49px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(63,7,19,1);
}
#n_55-555-1234_nt {
	left: 0px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 48px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(63,7,19,1);
}
#Contact__nu {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: contact.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(63,7,19,1);
}
#FAQs_nv {
	left: 13px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: faq.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,93,93,1);
}
#col-2_nw {
	position: absolute;
	width: 924px;
	height: 800px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#div-img_nx {
	opacity: 0.7;
	position: absolute;
	width: 924px;
	height: 800px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#email_ny {
	position: absolute;
	width: 655.056px;
	height: 118.158px;
	left: 92.444px;
	top: 586px;
	overflow: visible;
}
#div_nz {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.div_nz {
	display: none;
	position: absolute;
	overflow: visible;
	width: 648.542px;
	height: 90px;
	left: 11.556px;
	top: -16px;
}
#form-email-entry_n {
	position: absolute;
	width: 655px;
	height: 61px;
	left: 0.056px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1_n {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_n {
	position: absolute;
	overflow: visible;
	width: 655px;
	height: 61px;
	left: 0px;
	top: 0px;
}
#Enter_your_email_to_get_starte_n {
	opacity: 0.31;
	left: 28px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 628px;
	height: 41px;
	line-height: 43px;
	margin-top: -4px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,93,93,1);
}
#btn-submit_n {
	position: absolute;
	width: 150px;
	height: 48.158px;
	left: 0px;
	top: 70px;
	overflow: visible;
}
#Path_2_n {
	fill: rgba(255,93,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2_n {
	overflow: visible;
	position: absolute;
	width: 150px;
	height: 48.158px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Submit_n {
	left: 33.5px;
	top: 9.079px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,249,178,1);
}
#btn-more_n {
	position: absolute;
	width: 150px;
	height: 48.158px;
	left: 206.556px;
	top: 70px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: faq.html;
	cursor: pointer;
}
#Path_2_oa {
	fill: rgba(255,249,178,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2_oa {
	overflow: visible;
	position: absolute;
	width: 150px;
	height: 48.158px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#More_info_n {
	left: 0px;
	top: 8.684px;
	position: absolute;
	overflow: visible;
	width: 151px;
	height: 30.789466857910156px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,93,93,1);
}
#desc_n {
	position: absolute;
	width: 740px;
	height: 410px;
	left: 92px;
	top: 108px;
	overflow: visible;
}
#div_oa {
	fill: transparent;
}
.div_oa {
	position: absolute;
	overflow: visible;
	width: 740px;
	height: 410px;
	left: 0px;
	top: 0px;
}
#We_are_available_7_days_a_week_ob {
	left: 0px;
	top: 187px;
	position: absolute;
	overflow: visible;
	width: 741px;
	height: 194px;
	line-height: 43px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(63,7,19,1);
}
#Let_our_agents_help_oc {
	opacity: 0.92;
	left: 0px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 741px;
	height: 61px;
	line-height: 43px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,93,93,1);
}
#We_look_forward_to_your_visit_od {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 741px;
	height: 52px;
	line-height: 43px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,249,178,1);
}
#locals_oe {
	position: absolute;
	width: 1400px;
	height: 720px;
	left: 0px;
	top: 2988px;
	overflow: visible;
}
#div-orange_of {
	fill: rgba(236,172,93,1);
}
.div-orange_of {
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 720px;
	left: 0px;
	top: 0px;
}
#col-2_og {
	position: absolute;
	width: 500px;
	height: 640px;
	left: 830px;
	top: 40px;
	overflow: visible;
}
#div_oh {
	fill: transparent;
}
.div_oh {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 640px;
	left: 0px;
	top: 0px;
}
#locals-dance {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0px;
	top: 69px;
	overflow: visible;
}
#col-2_oj {
	position: absolute;
	width: 760px;
	height: 640px;
	left: 70px;
	top: 40px;
	overflow: visible;
}
#div_ok {
	fill: transparent;
}
.div_ok {
	position: absolute;
	overflow: visible;
	width: 760px;
	height: 640px;
	left: 0px;
	top: 0px;
}
#desc_ol {
	position: absolute;
	width: 600px;
	height: 500px;
	left: 70px;
	top: 71px;
	overflow: visible;
}
#div_om {
	fill: transparent;
}
.div_om {
	position: absolute;
	overflow: visible;
	width: 600px;
	height: 500px;
	left: 0px;
	top: 0px;
}
#Taniti_has_an_indigenous_popul {
	left: 0px;
	top: 194px;
	position: absolute;
	overflow: visible;
	width: 601px;
	height: 212px;
	line-height: 43px;
	margin-top: -9px;
	text-align: right;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Meet_The_Locals {
	left: 0px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 601px;
	height: 49px;
	text-align: right;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#outdoor {
	position: absolute;
	width: 1400px;
	height: 720px;
	left: 0px;
	top: 2268px;
	overflow: visible;
}
#div-white_oq {
	fill: rgba(255,255,255,1);
}
.div-white_oq {
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 720px;
	left: 0px;
	top: 0px;
}
#col-2_or {
	position: absolute;
	width: 760px;
	height: 640px;
	left: 570px;
	top: 40px;
	overflow: visible;
}
#div_os {
	fill: transparent;
}
.div_os {
	position: absolute;
	overflow: visible;
	width: 760px;
	height: 640px;
	left: 0px;
	top: 0px;
}
#desc_ot {
	position: absolute;
	width: 600px;
	height: 500.645px;
	left: 70px;
	top: 70.678px;
	overflow: visible;
}
#div_ou {
	fill: transparent;
}
.div_ou {
	position: absolute;
	overflow: visible;
	width: 600px;
	height: 500.645px;
	left: 0px;
	top: 0px;
}
#Most_people_visit_Taniti_to_en {
	left: 0px;
	top: 179.292px;
	position: absolute;
	overflow: visible;
	width: 601px;
	height: 213px;
	line-height: 43px;
	margin-top: -9px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Outdoor_Experiences_ow {
	left: 0px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 601px;
	height: 49px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,93,93,1);
}
#col-2_ox {
	position: absolute;
	width: 500px;
	height: 640px;
	left: 70px;
	top: 40px;
	overflow: visible;
}
#div_oy {
	fill: transparent;
}
.div_oy {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 640px;
	left: 0px;
	top: 0px;
}
#sights-boat-tour {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0px;
	top: 68.676px;
	overflow: visible;
}
#indoor {
	position: absolute;
	width: 1400px;
	height: 720px;
	left: 0px;
	top: 1548px;
	overflow: visible;
}
#div-orange_o {
	fill: rgba(236,172,93,1);
}
.div-orange_o {
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 720px;
	left: 0px;
	top: 0px;
}
#col-2_o {
	position: absolute;
	width: 500px;
	height: 640px;
	left: 830px;
	top: 40px;
	overflow: visible;
}
#div_o {
	fill: transparent;
}
.div_o {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 640px;
	left: 0px;
	top: 0px;
}
#meriton-bay-boardwalk {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0px;
	top: 69px;
	overflow: visible;
}
#col-2_pa {
	position: absolute;
	width: 760px;
	height: 640px;
	left: 70px;
	top: 40px;
	overflow: visible;
}
#div_pa {
	fill: transparent;
}
.div_pa {
	position: absolute;
	overflow: visible;
	width: 760px;
	height: 640px;
	left: 0px;
	top: 0px;
}
#desc_o {
	position: absolute;
	width: 600px;
	height: 500px;
	left: 70px;
	top: 71px;
	overflow: visible;
}
#div_pb {
	fill: transparent;
}
.div_pb {
	position: absolute;
	overflow: visible;
	width: 600px;
	height: 500px;
	left: 0px;
	top: 0px;
}
#Meriton_Landing_located_on_the {
	left: 0px;
	top: 180px;
	position: absolute;
	overflow: visible;
	width: 601px;
	height: 212px;
	line-height: 43px;
	margin-top: -9px;
	text-align: right;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Indoor_Experiences_pa {
	left: 0px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 601px;
	height: 49px;
	text-align: right;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#nature {
	position: absolute;
	width: 1400px;
	height: 776px;
	left: 0px;
	top: 771px;
	overflow: visible;
}
#div-white_pc {
	fill: rgba(255,255,255,1);
}
.div-white_pc {
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 776px;
	left: 0px;
	top: 0px;
}
#col-2_pd {
	position: absolute;
	width: 600px;
	height: 500.645px;
	left: 640px;
	top: 185.239px;
	overflow: visible;
}
#div_pe {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.div_pe {
	display: none;
	position: absolute;
	overflow: visible;
	width: 760px;
	height: 687.886px;
	left: -70px;
	top: -96.124px;
}
#desc_pf {
	position: absolute;
	width: 600px;
	height: 500.645px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#div_pg {
	fill: transparent;
}
.div_pg {
	position: absolute;
	overflow: visible;
	width: 600px;
	height: 500.645px;
	left: 0px;
	top: 0px;
}
#Taniti_is_a_small_tropical_isl_ph {
	left: 0px;
	top: 175.823px;
	position: absolute;
	overflow: visible;
	width: 601px;
	height: 249px;
	line-height: 43px;
	margin-top: -9px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Experience_Nature {
	left: 0px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 601px;
	height: 49px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,93,93,1);
}
#col-2_pj {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 70px;
	top: 183.236px;
	overflow: visible;
}
#div_pk {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.div_pk {
	display: none;
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 687.886px;
	left: 0px;
	top: -94.121px;
}
#sights-beaches {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#title_pm {
	position: absolute;
	width: 1260px;
	height: 90px;
	left: 70px;
	top: 771px;
	overflow: visible;
}
#div_pn {
	fill: transparent;
}
.div_pn {
	position: absolute;
	overflow: visible;
	width: 1260px;
	height: 90px;
	left: 0px;
	top: 0px;
}
#title_po {
	left: 0px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 1261px;
	height: 59px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(63,7,19,1);
}
#header_pp {
	position: absolute;
	width: 1400px;
	height: 771px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#div-img_pq {
	position: absolute;
	width: 1400px;
	height: 771px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#island-beaches {
	position: absolute;
	width: 1400px;
	height: 771px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#title_ps {
	position: absolute;
	width: 1260px;
	height: 443px;
	left: 70px;
	top: 263px;
	overflow: visible;
}
#div_pt {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.div_pt {
	display: none;
	position: absolute;
	overflow: visible;
	width: 1260px;
	height: 443px;
	left: 0px;
	top: 0px;
}
#btn-book-orange_pu {
	position: absolute;
	width: 252px;
	height: 71px;
	left: 504px;
	top: 372px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: contact.html;
	cursor: pointer;
}
#Path_1_pv {
	fill: rgba(236,172,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1_pv {
	overflow: visible;
	position: absolute;
	width: 252px;
	height: 71px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Book_now_pw {
	left: 29px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(63,7,19,1);
}
#hero-txt_px {
	position: absolute;
	width: 1260px;
	height: 80px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#About_the_island_of_Taniti {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 1261px;
	height: 80px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 68px;
	color: rgba(255,255,255,1);
}
#navbar_pz {
	position: absolute;
	width: 1260px;
	height: 124px;
	left: 70px;
	top: 0px;
	overflow: visible;
}
#div_p {
	fill: transparent;
}
.div_p {
	display: none;
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 124px;
	left: -70px;
	top: 0px;
}
#blur_background_p {
	filter: blur(30px);
	fill: rgba(255,255,255,1);
}
.blur_background_p {
	position: absolute;
	overflow: visible;
	width: 1260px;
	height: 124px;
	left: 0px;
	top: 0px;
}
#links_p {
	position: absolute;
	width: 1243px;
	height: 22px;
	left: 10px;
	top: 97px;
	overflow: visible;
}
#col-1-promo_p {
	position: absolute;
	width: 95px;
	height: 21px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_p {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_p {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -10px;
	top: -9px;
}
#Promotions_p {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: promo.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-2-about_p {
	position: absolute;
	width: 51px;
	height: 21px;
	left: 169px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_qa {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_qa {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -38px;
	top: -9px;
}
#About_p {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-3-lodging_p {
	position: absolute;
	width: 69px;
	height: 21px;
	left: 294px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_qb {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_qb {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -24px;
	top: -9px;
}
#Lodging_qb {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: lodging.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-4-dining_qc {
	position: absolute;
	width: 53px;
	height: 21px;
	left: 436px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_qd {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_qd {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -25px;
	top: -9px;
}
#Dining_qe {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: dining.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-5-transit_qf {
	position: absolute;
	width: 54px;
	height: 21px;
	left: 563px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_qg {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_qg {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -13px;
	top: -9px;
}
#Transit_qh {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: transit.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-6-experiences_qi {
	position: absolute;
	width: 102px;
	height: 21px;
	left: 691px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_qj {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_qj {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: 0px;
	top: -9px;
}
#Experiences_qk {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: experiences.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-7-book_ql {
	position: absolute;
	width: 91px;
	height: 21px;
	left: 867px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_qm {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_qm {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -37px;
	top: -9px;
}
#Book_Now_qn {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: contact.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-8-contact_qo {
	position: absolute;
	width: 92px;
	height: 21px;
	left: 1031px;
	top: 1px;
	overflow: visible;
}
#Rectangle_2_qp {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_qp {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -60px;
	top: -10px;
}
#Contact_Us_qq {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: contact.html;
	cursor: pointer;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-9-faq_qr {
	position: absolute;
	width: 46px;
	height: 21px;
	left: 1197px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_qs {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_qs {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -87px;
	top: -9px;
}
#FAQS_qt {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: faq.html;
	cursor: pointer;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#title_qu {
	position: absolute;
	width: 1260px;
	height: 80px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#div_qv {
	fill: transparent;
}
.div_qv {
	position: absolute;
	overflow: visible;
	width: 1260px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Taniti_qw {
	left: 535px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 191px;
	height: 80px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: home.html;
	cursor: pointer;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 68px;
	color: rgba(236,172,93,1);
}