.mediaViewInfo {
	--web-view-name: experiences;
	--web-view-id: experiences;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: experiences;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#experiences {
	position: absolute;
	width: 1400px;
	height: 5163px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: experiences;
	--web-view-id: experiences;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#footer_ {
	position: absolute;
	width: 1400px;
	height: 800px;
	left: 0px;
	top: 4364px;
	overflow: visible;
}
#div-pink_ {
	fill: rgba(255,93,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.div-pink_ {
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 800px;
	left: 0px;
	top: 0px;
}
#All_Images_courtesy_of_unsplas_ {
	left: 705px;
	top: 759px;
	position: absolute;
	overflow: visible;
	width: 305px;
	height: 19px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Taniti__2022_All_Rights_Reserv_ {
	left: 392px;
	top: 761px;
	position: absolute;
	overflow: hidden;
	width: 305px;
	height: 15px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#site-links_ {
	position: absolute;
	width: 1242px;
	height: 583px;
	left: 76px;
	top: 140px;
	overflow: visible;
}
#promo_ {
	position: absolute;
	width: 114px;
	height: 179px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Promotions__a {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 101px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: promo.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Holiday_Calendar_b {
	opacity: 0.35;
	left: 0px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 101px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Weddings__Honeymoons_c {
	opacity: 0.35;
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Business_d {
	opacity: 0.35;
	left: 0px;
	top: 128px;
	position: absolute;
	overflow: visible;
	width: 101px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Sports_e {
	opacity: 0.35;
	left: 0px;
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 101px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#about_f {
	position: absolute;
	width: 105px;
	height: 194px;
	left: 288px;
	top: 0px;
	overflow: visible;
}
#About_g {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 57px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: about.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Natural_Experiences_i {
	opacity: 0.35;
	left: 0px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Indoor_Experiences_i {
	opacity: 0.35;
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Outdoor_Experiences_j {
	opacity: 0.35;
	left: 0px;
	top: 128px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Our_Locals_k {
	opacity: 0.35;
	left: 0px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#lodging_l {
	position: absolute;
	width: 87px;
	height: 198px;
	left: 567px;
	top: 0px;
	overflow: visible;
}
#Lodging_m {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: lodging.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Hotels_n {
	opacity: 0.35;
	left: 0px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Bed-n-Breakfast_o {
	opacity: 0.35;
	left: 0px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 88px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Beach_Houses_p {
	opacity: 0.35;
	left: 0px;
	top: 113px;
	position: absolute;
	overflow: visible;
	width: 88px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Private_Homes_q {
	opacity: 0.35;
	left: 0px;
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 88px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#transit_r {
	position: absolute;
	width: 114px;
	height: 233px;
	left: 828px;
	top: 0px;
	overflow: visible;
}
#Transit_s {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: lodging.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Car_Rental_t {
	opacity: 0.35;
	left: 0px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 62px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Taxis_u {
	opacity: 0.35;
	left: 0px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 62px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Walking_v {
	opacity: 0.35;
	left: 0px;
	top: 105px;
	position: absolute;
	overflow: visible;
	width: 71px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Bicycles_w {
	opacity: 0.35;
	left: 0px;
	top: 135px;
	position: absolute;
	overflow: visible;
	width: 78px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Car_Share_x {
	opacity: 0.35;
	left: 0px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#ShuttlesPublic_Transit_y {
	opacity: 0.35;
	left: 0px;
	top: 195px;
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#dining_z {
	position: absolute;
	width: 126px;
	height: 139px;
	left: 1116px;
	top: 0px;
	overflow: visible;
}
#Dining_a {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 55px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: dining.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Restaurants_ {
	opacity: 0.35;
	left: 0px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Super_Markets_ {
	opacity: 0.35;
	left: 0px;
	top: 70px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Grocery_ {
	opacity: 0.35;
	left: 0px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Convenience_ {
	opacity: 0.35;
	left: 0px;
	top: 120px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#experiences__ {
	position: absolute;
	width: 914px;
	height: 270px;
	left: 174px;
	top: 313px;
	overflow: visible;
}
#Experiences_ {
	left: 397px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Nature_ {
	opacity: 0.55;
	left: 0px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
	text-decoration: underline;
}
#Beaches_ {
	opacity: 0.35;
	left: 0px;
	top: 79px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Rainforests_ {
	opacity: 0.35;
	left: 0px;
	top: 120px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Volcano_a {
	opacity: 0.35;
	left: 0px;
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Indoor_Venues_b {
	opacity: 0.55;
	left: 253px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
	text-decoration: underline;
}
#PubsMicrobrewery_c {
	opacity: 0.35;
	left: 253px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Movie_Theater_d {
	opacity: 0.35;
	left: 253px;
	top: 114px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Arcade_e {
	opacity: 0.35;
	left: 253px;
	top: 142px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Art_Gallery_f {
	opacity: 0.35;
	left: 253px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Bowling_g {
	opacity: 0.35;
	left: 253px;
	top: 198px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Nightclub_h {
	opacity: 0.35;
	left: 253px;
	top: 226px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Guided_Activitites_j {
	opacity: 0.55;
	left: 524px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 134px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
	text-decoration: underline;
}
#Native_Architecture_j {
	opacity: 0.35;
	left: 524px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Fish_Tours_k {
	opacity: 0.35;
	left: 524px;
	top: 122px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Helicopter_Tour_l {
	opacity: 0.35;
	left: 524px;
	top: 155px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#BoatBus_Tours_m {
	opacity: 0.35;
	left: 524px;
	top: 187px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Ziplining_n {
	opacity: 0.35;
	left: 524px;
	top: 219px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Snorkeling_o {
	opacity: 0.35;
	left: 524px;
	top: 251px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Future_Experiences_p {
	opacity: 0.55;
	left: 788px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
	text-decoration: underline;
}
#Golf_q {
	opacity: 0.35;
	left: 788px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Taniti_Sitemap_r {
	left: 70px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 1261px;
	height: 49px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(255,249,178,1);
}
#agent_s {
	position: absolute;
	width: 1400px;
	height: 800px;
	left: 0px;
	top: 3564px;
	overflow: visible;
}
#col-2_u {
	position: absolute;
	width: 479px;
	height: 795px;
	left: 921px;
	top: 5px;
	overflow: visible;
}
#div_bai {
	fill: transparent;
}
.div_bai {
	position: absolute;
	overflow: visible;
	width: 479px;
	height: 795px;
	left: 0px;
	top: 0px;
}
#contact_v {
	position: absolute;
	width: 397px;
	height: 384px;
	left: 12px;
	top: 269px;
	overflow: visible;
}
#Please_allow_a_few_business_da_w {
	left: 1px;
	top: 343px;
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 41px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(63,7,19,1);
}
#emailusvisittaniticom_x {
	left: 1px;
	top: 234px;
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 41px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(63,7,19,1);
}
#n_55-555-4321_y {
	left: 0px;
	top: 158px;
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 49px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(63,7,19,1);
}
#n_55-555-1234_z {
	left: 0px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 48px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(63,7,19,1);
}
#Contact__ {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: contact.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(63,7,19,1);
}
#FAQs_ {
	left: 13px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: faq.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,93,93,1);
}
#col-2_a {
	position: absolute;
	width: 924px;
	height: 800px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#div-white_a {
	opacity: 0.7;
	position: absolute;
	width: 924px;
	height: 800px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#email_ {
	position: absolute;
	width: 655.056px;
	height: 118.158px;
	left: 92.444px;
	top: 586px;
	overflow: visible;
}
#div_baj {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.div_baj {
	display: none;
	position: absolute;
	overflow: visible;
	width: 648.541px;
	height: 90px;
	left: 11.556px;
	top: -16px;
}
#form-email-entry_ {
	position: absolute;
	width: 655px;
	height: 61px;
	left: 0.056px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_ {
	position: absolute;
	overflow: visible;
	width: 655px;
	height: 61px;
	left: 0px;
	top: 0px;
}
#Enter_your_email_to_get_starte_ {
	opacity: 0.31;
	left: 28px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 628px;
	height: 41px;
	line-height: 43px;
	margin-top: -4px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,93,93,1);
}
#btn-submit_ {
	position: absolute;
	width: 150px;
	height: 48.158px;
	left: 0px;
	top: 70px;
	overflow: visible;
}
#Path_2_a {
	fill: rgba(255,93,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2_a {
	overflow: visible;
	position: absolute;
	width: 150px;
	height: 48.158px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Submit_b {
	left: 33.5px;
	top: 9.079px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,249,178,1);
}
#btn-more_c {
	position: absolute;
	width: 150px;
	height: 48.158px;
	left: 206.556px;
	top: 70px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: faq.html;
	cursor: pointer;
}
#Path_2_d {
	fill: rgba(255,249,178,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2_d {
	overflow: visible;
	position: absolute;
	width: 150px;
	height: 48.158px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#More_info_e {
	left: 0px;
	top: 8.684px;
	position: absolute;
	overflow: visible;
	width: 151px;
	height: 30.789466857910156px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,93,93,1);
}
#desc_f {
	position: absolute;
	width: 740px;
	height: 410px;
	left: 92px;
	top: 108px;
	overflow: visible;
}
#div_bak {
	fill: transparent;
}
.div_bak {
	position: absolute;
	overflow: visible;
	width: 740px;
	height: 410px;
	left: 0px;
	top: 0px;
}
#We_are_available_7_days_a_week_h {
	left: 0px;
	top: 187px;
	position: absolute;
	overflow: visible;
	width: 741px;
	height: 194px;
	line-height: 43px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(63,7,19,1);
}
#Let_our_agents_help_i {
	opacity: 0.92;
	left: 0px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 741px;
	height: 61px;
	line-height: 43px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,93,93,1);
}
#We_look_forward_to_your_visit_k {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 741px;
	height: 52px;
	line-height: 43px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,249,178,1);
}
#future_experinces {
	position: absolute;
	width: 1400px;
	height: 760px;
	left: 0px;
	top: 2811px;
	overflow: visible;
}
#div-img_l {
	position: absolute;
	width: 1400px;
	height: 760px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#title_n {
	position: absolute;
	width: 1260px;
	height: 436px;
	left: 70px;
	top: 264px;
	overflow: visible;
}
#div_bal {
	fill: transparent;
}
.div_bal {
	position: absolute;
	overflow: visible;
	width: 1260px;
	height: 90px;
	left: 0px;
	top: 0px;
}
#title_o {
	left: 0px;
	top: 377px;
	position: absolute;
	overflow: visible;
	width: 1261px;
	height: 59px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#title_p {
	left: 0px;
	top: 212px;
	position: absolute;
	overflow: visible;
	width: 1261px;
	height: 59px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#outdoor_q {
	position: absolute;
	width: 1400px;
	height: 680px;
	left: 0px;
	top: 2131px;
	overflow: visible;
}
#div-white_r {
	fill: rgba(255,255,255,1);
}
.div-white_r {
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 680px;
	left: 0px;
	top: 0px;
}
#Scroll_Group_1_s {
	mix-blend-mode: normal;
	position: absolute;
	width: 1330px;
	height: 580px;
	left: 70px;
	top: 89px;
	overflow: hidden;
}
#col-1_t {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#div_bam {
	fill: transparent;
}
.div_bam {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#Discover_Tanitian_heritage_fro {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Native_Architecture_w {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(236,172,93,1);
}
#island-architecture-huts {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#col-1_z {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 560px;
	top: 0px;
	overflow: visible;
}
#div_ban {
	fill: transparent;
}
.div_ban {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#Explore_the_waters_and_lies_be {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Fish_Tours_ {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(236,172,93,1);
}
#sights-boat-tour_ {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#col-1_a {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 1120px;
	top: 0px;
	overflow: visible;
}
#div_bao {
	fill: transparent;
}
.div_bao {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#See_the_island_from_another_pe {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Helicopter_Tours {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(236,172,93,1);
}
#ent-heli-tour_ {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#col-1_b {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 1680px;
	top: 0px;
	overflow: visible;
}
#div_bap {
	fill: transparent;
}
.div_bap {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#Safe_harbor_and_sightseeing_be {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Boat_and_Bus_Tours {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(236,172,93,1);
}
#island-harbor {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#col-1_d {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 2240px;
	top: 0px;
	overflow: visible;
}
#div_baq {
	fill: transparent;
}
.div_baq {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#For_our_daredevils_out_there {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Ziplining_g {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(236,172,93,1);
}
#ent-ziplining {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#col-1_i {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 2800px;
	top: 0px;
	overflow: visible;
}
#div_bar {
	fill: transparent;
}
.div_bar {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#Get_up_close_and_personal_in_c {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Snorkeling_l {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(236,172,93,1);
}
#ent-snorkeling {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#title_q {
	position: absolute;
	width: 1260px;
	height: 90px;
	left: 70px;
	top: 0px;
	overflow: visible;
}
#div_bas {
	fill: transparent;
}
.div_bas {
	position: absolute;
	overflow: visible;
	width: 1260px;
	height: 90px;
	left: 0px;
	top: 0px;
}
#title_r {
	left: 0px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 1261px;
	height: 59px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(63,7,19,1);
}
#indoor_q {
	position: absolute;
	width: 1400px;
	height: 680px;
	left: 0px;
	top: 1451px;
	overflow: visible;
}
#div-pink_r {
	fill: rgba(255,93,93,1);
}
.div-pink_r {
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 680px;
	left: 0px;
	top: 0px;
}
#Scroll_Group_1_t {
	mix-blend-mode: normal;
	position: absolute;
	width: 1330px;
	height: 580px;
	left: 70px;
	top: 89px;
	overflow: hidden;
}
#col-1_v {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#div_bat {
	fill: transparent;
}
.div_bat {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#Taniti_offers_pubs_and_a_micro {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Beer_and_Spirits {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,249,178,1);
}
#pub-glass {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#col-1_baa {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 560px;
	top: 0px;
	overflow: visible;
}
#div_bau {
	fill: transparent;
}
.div_bau {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#Sit_back_relax_and_order_some_ {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Movie_Theaters {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,249,178,1);
}
#ent-movies {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#col-1_bab {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 1120px;
	top: 0px;
	overflow: visible;
}
#div_bav {
	fill: transparent;
}
.div_bav {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#Game_on_Gamers {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Arcade_ {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,249,178,1);
}
#ent-arcade {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#col-1_bac {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 1680px;
	top: 0px;
	overflow: visible;
}
#div_baw {
	fill: transparent;
}
.div_baw {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#Wind_down_and_find_serenity_in {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Art_Gallery_bab {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,249,178,1);
}
#ent-art {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#col-1_bad {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 2240px;
	top: 0px;
	overflow: visible;
}
#div_bax {
	fill: transparent;
}
.div_bax {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#Better_with_friends {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Bowling_bag {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,249,178,1);
}
#ent-bowling {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#col-1_bai {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 2800px;
	top: 0px;
	overflow: visible;
}
#div_bay {
	fill: transparent;
}
.div_bay {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#For_when_everything_else_is_cl {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Dance_Clubs {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,249,178,1);
}
#activities-nightclub {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#title_ban {
	position: absolute;
	width: 1260px;
	height: 90px;
	left: 70px;
	top: 0px;
	overflow: visible;
}
#div_baz {
	fill: transparent;
}
.div_baz {
	position: absolute;
	overflow: visible;
	width: 1260px;
	height: 90px;
	left: 0px;
	top: 0px;
}
#title_bap {
	left: 0px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 1261px;
	height: 59px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#nature_baq {
	position: absolute;
	width: 1400px;
	height: 680px;
	left: 0px;
	top: 771px;
	overflow: visible;
}
#div-white_bar {
	fill: rgba(255,255,255,1);
}
.div-white_bar {
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 680px;
	left: 0px;
	top: 0px;
}
#Scroll_Group_1_bas {
	mix-blend-mode: normal;
	position: absolute;
	width: 1330px;
	height: 580px;
	left: 70px;
	top: 89px;
	overflow: hidden;
}
#col-1_bat {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 1120px;
	top: 0px;
	overflow: visible;
}
#div_ba {
	fill: transparent;
}
.div_ba {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#Hike_up_and_witness_an_active_ {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Volcanic_Mountain {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(236,172,93,1);
}
#ent-volcano_bax {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#col-1_bay {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 560px;
	top: 0px;
	overflow: visible;
}
#div_bba {
	fill: transparent;
}
.div_bba {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#Hike_up_the_hills_or_travel_th {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Rainforest {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(236,172,93,1);
}
#sights-waterfall {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#col-1_ba {
	position: absolute;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#div_bbb {
	fill: transparent;
}
.div_bbb {
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 580px;
	left: 0px;
	top: 0px;
}
#Explore_our_sandy_or_rocky_bea {
	left: 0px;
	top: 523px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 33px;
	line-height: 43px;
	margin-top: -9px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(63,7,19,1);
}
#Island_Shores {
	left: 0px;
	top: 461px;
	position: absolute;
	overflow: hidden;
	width: 501px;
	height: 32px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(236,172,93,1);
}
#island-beaches_ba {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50px;
	top: 30px;
	overflow: visible;
}
#title_ba {
	position: absolute;
	width: 1260px;
	height: 90px;
	left: 70px;
	top: 0px;
	overflow: visible;
}
#div_bbc {
	fill: transparent;
}
.div_bbc {
	position: absolute;
	overflow: visible;
	width: 1260px;
	height: 90px;
	left: 0px;
	top: 0px;
}
#title_bba {
	left: 0px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 1261px;
	height: 59px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(63,7,19,1);
}
#header_bbb {
	position: absolute;
	width: 1400px;
	height: 771px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#div-img_bbc {
	position: absolute;
	width: 1400px;
	height: 771px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#title_bbd {
	position: absolute;
	width: 1260px;
	height: 443px;
	left: 70px;
	top: 263px;
	overflow: visible;
}
#div_bbe {
	fill: transparent;
}
.div_bbe {
	position: absolute;
	overflow: visible;
	width: 1260px;
	height: 443px;
	left: 0px;
	top: 0px;
}
#btn-book-orange_bbf {
	position: absolute;
	width: 252px;
	height: 71px;
	left: 504px;
	top: 243px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: contact.html;
	cursor: pointer;
}
#Path_1_bbg {
	fill: rgba(236,172,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1_bbg {
	overflow: visible;
	position: absolute;
	width: 252px;
	height: 71px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Book_now_bbh {
	left: 29px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(63,7,19,1);
}
#Experiences_of_the_Island {
	left: 0px;
	top: 86px;
	position: absolute;
	overflow: visible;
	width: 1261px;
	height: 80px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 68px;
	color: rgba(255,255,255,1);
}
#navbar_bbj {
	position: absolute;
	width: 1260px;
	height: 124px;
	left: 70px;
	top: 0px;
	overflow: visible;
}
#div_bbk {
	fill: transparent;
}
.div_bbk {
	display: none;
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 124px;
	left: -70px;
	top: 0px;
}
#blur_background_bbl {
	filter: blur(30px);
	fill: rgba(255,255,255,1);
}
.blur_background_bbl {
	position: absolute;
	overflow: visible;
	width: 1260px;
	height: 124px;
	left: 0px;
	top: 0px;
}
#links_bbm {
	position: absolute;
	width: 1243px;
	height: 22px;
	left: 10px;
	top: 97px;
	overflow: visible;
}
#col-1-promo_bbn {
	position: absolute;
	width: 95px;
	height: 21px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_bbo {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bbo {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -10px;
	top: -9px;
}
#Promotions_bbp {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: promo.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-2-about_bbq {
	position: absolute;
	width: 51px;
	height: 21px;
	left: 169px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_bbr {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bbr {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -38px;
	top: -9px;
}
#About_bbs {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: about.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-3-lodging_bbt {
	position: absolute;
	width: 69px;
	height: 21px;
	left: 294px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_bbu {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bbu {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -24px;
	top: -9px;
}
#Lodging_bbv {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: lodging.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-4-dining_bbw {
	position: absolute;
	width: 53px;
	height: 21px;
	left: 436px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_bbx {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bbx {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -25px;
	top: -9px;
}
#Dining_bby {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: dining.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-5-transit_bbz {
	position: absolute;
	width: 54px;
	height: 21px;
	left: 563px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_bb {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bb {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -13px;
	top: -9px;
}
#Transit_bb {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: transit.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-6-experiences_bb {
	position: absolute;
	width: 102px;
	height: 21px;
	left: 691px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_bca {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bca {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: 0px;
	top: -9px;
}
#Experiences_bb {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-7-book_bb {
	position: absolute;
	width: 91px;
	height: 21px;
	left: 867px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_bcb {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bcb {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -37px;
	top: -9px;
}
#Book_Now_bb {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: contact.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-8-contact_bb {
	position: absolute;
	width: 92px;
	height: 21px;
	left: 1031px;
	top: 1px;
	overflow: visible;
}
#Rectangle_2_bcc {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bcc {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -60px;
	top: -10px;
}
#Contact_Us_bca {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: contact.html;
	cursor: pointer;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-9-faq_bcb {
	position: absolute;
	width: 46px;
	height: 21px;
	left: 1197px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_bcd {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bcd {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -87px;
	top: -9px;
}
#FAQS_bcd {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: faq.html;
	cursor: pointer;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#title_bce {
	position: absolute;
	width: 1260px;
	height: 80px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#div_bcf {
	fill: transparent;
}
.div_bcf {
	position: absolute;
	overflow: visible;
	width: 1260px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Taniti_bcg {
	left: 535px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 191px;
	height: 80px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: home.html;
	cursor: pointer;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 68px;
	color: rgba(236,172,93,1);
}