* {
	font-family: "Raleway"
}

/* ======== HOME PAGE ============ 
--------------------------------*/

#title {
	background-image : url(/assets/img/hero/index.png);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

/* navbar */
#home-nav {
	background-color: #ecac5d;
}
#title .dropdown-item {
	color: #fff9b2;
}
#title .nav-link{
	color: #3f0713;
	font-weight: bold;
}
#title .active{
	color: #fff9b2;
}
/* end navbar */

#title h1 {
 	color: #fff9b2;
}


@media (min-width: 576px) {
    .navbar-expand-sm .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: space-around;
    }
}

/* ======== About section ======== */

#about {
	background-color: #ff5d5d;
}

.about-img {
}

.about-caption {
	color: #fff9b2;
	font-size: 1rem;
}

.about-heading {
	color: #3f0713;
}

/* colors involved */
/* color: #ff5d5d;
color: #fff9b2; 
color: #3f0713;
#707070;
#ecac5d;
*/

