* {
	font-family: "Raleway"
}
.section-title {
	color: #3f0713;
}
/* ======== HOME PAGE ============ 
--------------------------------*/

#title {
	background-image : url(/assets/img/hero/index.png);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

/* navbar */
#home-nav {
	background-color: #ecac5d;
}
#title .dropdown-item {
	color: #fff9b2;
}
#title .nav-link{
	color: #3f0713;
	font-weight: bold;
}
#title .active{
	color: #fff9b2;
}
/* end navbar */

#title h1 {
 	color: #fff9b2;
}


@media (min-width: 576px) {
    .navbar-expand-sm .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: space-around;
    }	
}

@media (max-width: 575px) {
	#title h1 {
		font-size: xx-large;
	}
}

/* ======== About section ======== */

#about {
	background-color: #ff5d5d;
}

.about-img {
}

.about-caption {
	color: #fff9b2;
	font-size: 1rem;
}

.about-heading {
	color: #3f0713;
}

@media (max-width: 575px) {
	.about-img {
		width: 75%;
		margin-left: 12.5%;
	}
	.about-caption{
		font-size: 1.2rem;
	}
	.about-heading {
		width: 75%;
		margin-left: 12.5%;
	}
}


/* ======== Lodging ======== */

#lodging {
	background-color: #ecac5d;
}



#lodging h2 {
	color: #fff9b2;
}

#lodging p {
	color: #3f0713;
}
#lodging .btn-primary {
	background-color:#fff9b2 !important;
	color: #3f0713;
}
#lodging .btn-primary:hover{
background-color: #ff5d5d !important;
}
/* ======== Transportation ======== */

#transportation .btn-primary {
		background-color:#fff9b2 !important;
		color: #3f0713;
	}
#transportation .btn-primary:hover{
	background-color: #ecac5d !important;
}


/* ======== Food and Entertainment ======== */
/* ======== Agent/Faqs/contact ======== */
/* ======== Sitemap ======== */
/* ======== Footer ======== */




/* colors involved */
/* color: #ff5d5d;
color: #fff9b2; 
color: #3f0713;
#707070;
#ecac5d;
*/

