/* ======== Home page ============ 
--------------------------------*/
* {
	font-family: "Raleway";
}
.section-title {
	color: #3f0713;
}




/* ======== Title ============ 
--------------------------------*/
#title {
	background-image : url(/assets/img/hero/index.png);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}
#title h1 {
	color: #fff9b2;
}


/* navbar */
#home-nav {
	background-color: #ecac5d;
}
#title .dropdown-item {
	color: #fff9b2;
}
#title .nav-link{
	color: #3f0713;
	font-weight: bold;
}
#title .active{
	color: #fff9b2;
}
/* end navbar */


/* responsiveness */
@media (min-width: 576px) {
    .navbar-expand-sm .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: space-around;
    }	
}

@media (max-width: 575px) {
	#title h1 {
		font-size: xx-large;
	}
}


/* ======== About section ========
--------------------------------*/
#about {
	background-color: #ff5d5d;
}
#about p {
	color: #fff9b2;
	font-size: 1rem;
}
#about h3 {
	color: #3f0713;
}


/* responsiveness */
@media (max-width: 575px) {
	#about img {
		width: 75%;
		margin-left: 12.5%;
	}
	#about p{
		font-size: 1.2rem;
	}
	#about h3 {
		width: 75%;
		margin-left: 12.5%;
	}
}


/* ======== Lodging ======== 
---------------------------*/
#lodging {
	background-color: #ecac5d;
}
#lodging h2 {
	color: #fff9b2;
}
#lodging p {
	color: #3f0713;
}
#lodging .btn-primary {
	background-color:#fff9b2 !important;
	color: #3f0713;
}
#lodging .btn-primary:hover{
background-color: #ff5d5d !important;
}

/* ====== Transportation ======= 
-------------------------------*/
#transportation h2 {
	color: #ecac5d;
}
#transportation .btn-primary {
	background-color:#fff9b2 !important;
	color: #3f0713;
}
#transportation .btn-primary:hover{
	background-color: #ecac5d !important;
}

/* === Food and Entertainment ===
--------------------------------*/
#food-ent {
	background-color: #ecac5d;
}
#food-ent h2 {
	color: #fff9b2;
}

#food-ent p {
	color: #3f0713;
}
#food-ent .btn-primary {
	background-color:#fff9b2 !important;
	color: #3f0713;
}
#food-ent .btn-primary:hover{
	background-color: #ff5d5d !important;
}

/* ======== Agent/Faqs/contact ======== */
#agent {
}
#agent .agent{
	background-image: url(/assets/img/agent/agent1.png);
	background-size: cover;
}
.agent-primary {
	color: #fff9b2;
}
.agent-secondary {
	color:#ff5d5d;
}
#agent p {
	color: #3f0713;
}
#email {
	color: #ff5d5d !important;
}
#agent .btn-primary {
	background-color: #ff5d5d;
	color: #fff9b2;
}
#agent .btn-primary:hover {
	background-color: #fff9b2;
	color: #3f0713;
}
#agent .btn-secondary {
	background-color: #fff9b2;
	color: #ff5d5d;
}
#agent .btn-secondary:hover {
	background-color: #ff5d5d;
	color: #3f0713;
}
.agent-contact {
	color: #3f0713;
}
.disclaimer {
	font-size: xx-small;
}

/* ======== Footer ======== */
#footer {
	background-color: #3f0713;
}
#footer h5 {
	color: #fff9b2;
}
.link-secondary{
	color: #ecac5d !important;
}
#footer small {
	color: #fff !important;
}


/* colors involved */
/* color: #ff5d5d;
color: #fff9b2; 
color: #3f0713;
#707070;
#ecac5d;
*/

