/* =============================== Body  
--------------------------------*/
* {
	font-family: "Raleway";
}
.section-title {
	color: #3f0713;
}
h3 {
	color: #3f0713;
}
/* =============================== Title
--------------------------------*/
#title {
	background-image : url(/assets/img/hero/promo.png);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}
#title h1 {
	color: #fff;
}
/* =============================== Navigation bar 
--------------------------------*/
#title-nav {
	background-color: #ecac5d;
}
#title .navbar-brand {
	color: #ff5d5d;
}
#title .navbar-toggler {
	color: #fff9b2 !important;
}
.hamburger {
	color: #ecac5d !important;
}
#title .dropdown-menu {
	background-color: #ecac5d;
}
#title .dropdown-item {
	color: #3f0713;
}
#title .dropdown-menu :hover {
	background-color: #fff9b2;
}
#title .nav-link{
	color: #3f0713;
	font-weight: bold;
}
#title .active{
	color: #fff9b2;
}
#title .btn-outline-dark {
	border-color: #3f0713;
}
#title .btn-outline-dark:hover {
	border-color: #ff5d5d;
	background-color: #ff5d5d;
	color: #ecac5d;
}
/* responsiveness */
@media (min-width: 576px) {
    .navbar-expand-sm .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: space-around;
    }	
}
@media (max-width: 575px) {
	#title h1 {
		font-size: xx-large;
	}
}
/* =============================== Promo
--------------------------------*/
#promo {
	background-color: #ff5d5d;
}
#faq p {
	color: #3f0713 !important;
}
#promo .card {
	height: fit-content;
}
/* responsiveness */
@media (min-width: 767px) {
	#promo .card {
		height: 602px;
	}
}
@media (min-width: 992px) {
	#promo .card {
		height: 617px;
	}
}
@media (min-width: 1199px) {
	#promo .card {
		height: 692px;
	}
}
@media (min-width: 1400px) {
	#promo .card {
		height: 782px;
	}
}
/* =============================== Agent/Faqs/Contact
--------------------------------*/
#agent{
	background-image: url(/assets/img/agent/agent1.png);
	background-size: cover;
}
.agent-primary {
	color: #fff9b2;
}
.agent-secondary {
	color:#ff5d5d;
}
#agent p {
	color: #3f0713;
	margin: 50px 0px;
}
#email {
	color: #ff5d5d !important;
}
#agent .btn-primary {
	background-color: #ff5d5d;
	color: #fff9b2;
}
#agent .btn-primary:hover {
	background-color: #fff9b2;
	color: #3f0713;
}
#agent .btn-secondary {
	background-color: #fff9b2;
	color: #ff5d5d;
}
#agent .btn-secondary:hover {
	background-color: #ff5d5d;
	color: #3f0713;
}
.agent-contact {
	color: #3f0713;
}
.disclaimer {
	font-size: xx-small;
}
/* =============================== Footer
--------------------------------*/
#footer {
	background-color: #ff5d5d;
}
#footer .link-primary {
	color: #fff9b2 !important;
}
#footer .link-primary:hover{
	color: #ecac5d!important;
}
.link-secondary{
	color: #3f0713 !important;
}
.link-secondary:hover{
	color: #fff9b2 !important;
}
#footer small {
	color: #fff !important;
}
.f-title {
	color: #fff9b2;
}
