.mediaViewInfo {
	--web-view-name: transit;
	--web-view-id: transit;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: transit;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#transit {
	position: absolute;
	width: 1400px;
	height: 4699px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: transit;
	--web-view-id: transit;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#footer_v {
	position: absolute;
	width: 1400px;
	height: 800px;
	left: 0px;
	top: 3899px;
	overflow: visible;
}
#div-pink_v {
	fill: rgba(255,93,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.div-pink_v {
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 800px;
	left: 0px;
	top: 0px;
}
#All_Images_courtesy_of_unsplas_v {
	left: 705px;
	top: 759px;
	position: absolute;
	overflow: visible;
	width: 305px;
	height: 19px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Taniti__2022_All_Rights_Reserv_v {
	left: 392px;
	top: 761px;
	position: absolute;
	overflow: hidden;
	width: 305px;
	height: 15px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#site-links_v {
	position: absolute;
	width: 1242px;
	height: 583px;
	left: 76px;
	top: 140px;
	overflow: visible;
}
#promo_v {
	position: absolute;
	width: 114px;
	height: 179px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Promotions__v {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 101px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: promo.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Holiday_Calendar_v {
	opacity: 0.35;
	left: 0px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 101px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Weddings__Honeymoons_v {
	opacity: 0.35;
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Business_v {
	opacity: 0.35;
	left: 0px;
	top: 128px;
	position: absolute;
	overflow: visible;
	width: 101px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Sports_wa {
	opacity: 0.35;
	left: 0px;
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 101px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#about_wb {
	position: absolute;
	width: 105px;
	height: 194px;
	left: 288px;
	top: 0px;
	overflow: visible;
}
#About_wc {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 57px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: about.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Natural_Experiences_wd {
	opacity: 0.35;
	left: 0px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Indoor_Experiences_we {
	opacity: 0.35;
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Outdoor_Experiences_wf {
	opacity: 0.35;
	left: 0px;
	top: 128px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Our_Locals_wg {
	opacity: 0.35;
	left: 0px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#lodging_wh {
	position: absolute;
	width: 87px;
	height: 198px;
	left: 567px;
	top: 0px;
	overflow: visible;
}
#Lodging_wi {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: lodging.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Hotels_wj {
	opacity: 0.35;
	left: 0px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 76px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Bed-n-Breakfast_wk {
	opacity: 0.35;
	left: 0px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 88px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Beach_Houses_wl {
	opacity: 0.35;
	left: 0px;
	top: 113px;
	position: absolute;
	overflow: visible;
	width: 88px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Private_Homes_wm {
	opacity: 0.35;
	left: 0px;
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 88px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#transit_wn {
	position: absolute;
	width: 114px;
	height: 233px;
	left: 828px;
	top: 0px;
	overflow: visible;
}
#Transit_wo {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Car_Rental_wp {
	opacity: 0.35;
	left: 0px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 62px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Taxis_wq {
	opacity: 0.35;
	left: 0px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 62px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Walking_wr {
	opacity: 0.35;
	left: 0px;
	top: 105px;
	position: absolute;
	overflow: visible;
	width: 71px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Bicycles_ws {
	opacity: 0.35;
	left: 0px;
	top: 135px;
	position: absolute;
	overflow: visible;
	width: 78px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Car_Share_wt {
	opacity: 0.35;
	left: 0px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#ShuttlesPublic_Transit_wu {
	opacity: 0.35;
	left: 0px;
	top: 195px;
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#dining_wv {
	position: absolute;
	width: 126px;
	height: 139px;
	left: 1116px;
	top: 0px;
	overflow: visible;
}
#Dining_ww {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 55px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: dining.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Restaurants_wx {
	opacity: 0.35;
	left: 0px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Super_Markets_wy {
	opacity: 0.35;
	left: 0px;
	top: 70px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Grocery_wz {
	opacity: 0.35;
	left: 0px;
	top: 95px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Convenience_w {
	opacity: 0.35;
	left: 0px;
	top: 120px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#experiences__w {
	position: absolute;
	width: 914px;
	height: 270px;
	left: 174px;
	top: 313px;
	overflow: visible;
}
#Experiences_w {
	left: 397px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: experiences.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Nature_w {
	opacity: 0.55;
	left: 0px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
	text-decoration: underline;
}
#Beaches_w {
	opacity: 0.35;
	left: 0px;
	top: 79px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Rainforests_w {
	opacity: 0.35;
	left: 0px;
	top: 120px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Volcano_w {
	opacity: 0.35;
	left: 0px;
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Indoor_Venues_w {
	opacity: 0.55;
	left: 253px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
	text-decoration: underline;
}
#PubsMicrobrewery_w {
	opacity: 0.35;
	left: 253px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Movie_Theater_w {
	opacity: 0.35;
	left: 253px;
	top: 114px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Arcade_xa {
	opacity: 0.35;
	left: 253px;
	top: 142px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Art_Gallery_xb {
	opacity: 0.35;
	left: 253px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Bowling_xc {
	opacity: 0.35;
	left: 253px;
	top: 198px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Nightclub_xd {
	opacity: 0.35;
	left: 253px;
	top: 226px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Guided_Activitites_xe {
	opacity: 0.55;
	left: 524px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 134px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
	text-decoration: underline;
}
#Native_Architecture_xf {
	opacity: 0.35;
	left: 524px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Fish_Tours_xg {
	opacity: 0.35;
	left: 524px;
	top: 122px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Helicopter_Tour_xh {
	opacity: 0.35;
	left: 524px;
	top: 155px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#BoatBus_Tours_xi {
	opacity: 0.35;
	left: 524px;
	top: 187px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Ziplining_xj {
	opacity: 0.35;
	left: 524px;
	top: 219px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Snorkeling_xk {
	opacity: 0.35;
	left: 524px;
	top: 251px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Future_Experiences_xl {
	opacity: 0.55;
	left: 788px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 38px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
	text-decoration: underline;
}
#Golf_xm {
	opacity: 0.35;
	left: 788px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 19px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,249,178,1);
}
#Taniti_Sitemap_xn {
	left: 70px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 1261px;
	height: 49px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	color: rgba(255,249,178,1);
}
#agent_xo {
	position: absolute;
	width: 1400px;
	height: 800px;
	left: 0px;
	top: 3099px;
	overflow: visible;
}
#col-2_xp {
	position: absolute;
	width: 479px;
	height: 795px;
	left: 921px;
	top: 5px;
	overflow: visible;
}
#div_xq {
	fill: transparent;
}
.div_xq {
	position: absolute;
	overflow: visible;
	width: 479px;
	height: 795px;
	left: 0px;
	top: 0px;
}
#contact_xr {
	position: absolute;
	width: 397px;
	height: 384px;
	left: 12px;
	top: 269px;
	overflow: visible;
}
#Please_allow_a_few_business_da_xs {
	left: 1px;
	top: 343px;
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 41px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(63,7,19,1);
}
#emailusvisittaniticom_xt {
	left: 1px;
	top: 234px;
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 41px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(63,7,19,1);
}
#n_55-555-4321_xu {
	left: 0px;
	top: 158px;
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 49px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(63,7,19,1);
}
#n_55-555-1234_xv {
	left: 0px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 48px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(63,7,19,1);
}
#Contact__xw {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: contact.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(63,7,19,1);
}
#FAQs_xx {
	left: 13px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: faq.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,93,93,1);
}
#col-2_xy {
	position: absolute;
	width: 924px;
	height: 800px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#div-white_xz {
	opacity: 0.7;
	position: absolute;
	width: 924px;
	height: 800px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#email_x {
	position: absolute;
	width: 655.056px;
	height: 118.158px;
	left: 92.444px;
	top: 586px;
	overflow: visible;
}
#div_x {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.div_x {
	display: none;
	position: absolute;
	overflow: visible;
	width: 648.542px;
	height: 90px;
	left: 11.556px;
	top: -16px;
}
#form-email-entry_x {
	position: absolute;
	width: 655px;
	height: 61px;
	left: 0.056px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1_x {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_x {
	position: absolute;
	overflow: visible;
	width: 655px;
	height: 61px;
	left: 0px;
	top: 0px;
}
#Enter_your_email_to_get_starte_x {
	opacity: 0.31;
	left: 28px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 628px;
	height: 41px;
	line-height: 43px;
	margin-top: -4px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,93,93,1);
}
#btn-submit_x {
	position: absolute;
	width: 150px;
	height: 48.158px;
	left: 0px;
	top: 70px;
	overflow: visible;
}
#Path_2_x {
	fill: rgba(255,93,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2_x {
	overflow: visible;
	position: absolute;
	width: 150px;
	height: 48.158px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Submit_x {
	left: 33.5px;
	top: 9.079px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,249,178,1);
}
#btn-more_x {
	position: absolute;
	width: 150px;
	height: 48.158px;
	left: 206.556px;
	top: 70px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: faq.html;
	cursor: pointer;
}
#Path_2_ya {
	fill: rgba(255,249,178,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2_ya {
	overflow: visible;
	position: absolute;
	width: 150px;
	height: 48.158px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#More_info_ya {
	left: 0px;
	top: 8.684px;
	position: absolute;
	overflow: visible;
	width: 151px;
	height: 30.789466857910156px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,93,93,1);
}
#desc_yb {
	position: absolute;
	width: 740px;
	height: 410px;
	left: 92px;
	top: 108px;
	overflow: visible;
}
#div_yc {
	fill: transparent;
}
.div_yc {
	position: absolute;
	overflow: visible;
	width: 740px;
	height: 410px;
	left: 0px;
	top: 0px;
}
#We_are_available_7_days_a_week_yd {
	left: 0px;
	top: 187px;
	position: absolute;
	overflow: visible;
	width: 741px;
	height: 194px;
	line-height: 43px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(63,7,19,1);
}
#Let_our_agents_help_ye {
	opacity: 0.92;
	left: 0px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 741px;
	height: 61px;
	line-height: 43px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,93,93,1);
}
#We_look_forward_to_your_visit_yf {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 741px;
	height: 52px;
	line-height: 43px;
	margin-top: -1.5px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,249,178,1);
}
#transit_yg {
	position: absolute;
	width: 1400px;
	height: 2335px;
	left: 0px;
	top: 771px;
	overflow: visible;
}
#div-pink_yh {
	fill: rgba(255,93,93,1);
}
.div-pink_yh {
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 2335px;
	left: 0px;
	top: 0px;
}
#col-2_yi {
	position: absolute;
	width: 504px;
	height: 2120px;
	left: 765px;
	top: 215px;
	overflow: visible;
}
#div_yj {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.div_yj {
	display: none;
	position: absolute;
	overflow: visible;
	width: 630px;
	height: 1420px;
	left: -65px;
	top: -35px;
}
#business_yk {
	position: absolute;
	width: 500px;
	height: 678px;
	left: 0px;
	top: 1442px;
	overflow: visible;
}
#Taniti_City_is_fairly_flat_and {
	left: 0px;
	top: 540px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 138px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(255,249,178,1);
}
#transit-walking {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#sports_yn {
	position: absolute;
	width: 500px;
	height: 671px;
	left: 0px;
	top: 710px;
	overflow: visible;
}
#For_hikers_and_sightseers_visi {
	left: 0px;
	top: 540px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 131px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(255,249,178,1);
}
#sights-boat-tour_yp {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#wed-hmoon_yq {
	position: absolute;
	width: 500px;
	height: 670px;
	left: 4px;
	top: 0px;
	overflow: visible;
}
#Many_of_our_visitors_stay_in_M {
	left: 0px;
	top: 540px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 130px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(255,249,178,1);
}
#transit-cruise {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#col-2_yt {
	position: absolute;
	width: 504px;
	height: 2120px;
	left: 135px;
	top: 215px;
	overflow: visible;
}
#div_yu {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.div_yu {
	display: none;
	position: absolute;
	overflow: visible;
	width: 630px;
	height: 1420px;
	left: -65px;
	top: -35px;
}
#business_yv {
	position: absolute;
	width: 500px;
	height: 678px;
	left: 0px;
	top: 1442px;
	overflow: visible;
}
#Bikes_are_welcome_and_very_acc {
	left: 0px;
	top: 540px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 138px;
	text-align: right;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(255,249,178,1);
}
#transit-bike {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#business_yy {
	position: absolute;
	width: 500px;
	height: 678px;
	left: 0px;
	top: 710px;
	overflow: visible;
}
#Perfect_for_large_groups_and_s {
	left: 0px;
	top: 540px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 138px;
	text-align: right;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(255,249,178,1);
}
#transit-bus_y {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#holiday_y {
	position: absolute;
	width: 500px;
	height: 656px;
	left: 4px;
	top: 0px;
	overflow: visible;
}
#Rental_cars_can_be_purchased_f {
	left: 0px;
	top: 540px;
	position: absolute;
	overflow: visible;
	width: 501px;
	height: 116px;
	text-align: right;
	font-family: Raleway;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(255,249,178,1);
}
#transit-car-rental {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#copy_y {
	position: absolute;
	width: 1260px;
	height: 122px;
	left: 70px;
	top: 30px;
	overflow: visible;
}
#div_y {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.div_y {
	display: none;
	position: absolute;
	overflow: visible;
	width: 1260px;
	height: 180px;
	left: 0px;
	top: -29px;
}
#Almost_all_visitors_in_Taniti_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 1261px;
	height: 122px;
	line-height: 35px;
	margin-top: -1.5px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
#header_y {
	position: absolute;
	width: 1400px;
	height: 771px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#div-img_y {
	position: absolute;
	width: 1400px;
	height: 771px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#title_y {
	position: absolute;
	width: 516px;
	height: 429px;
	left: 70px;
	top: 248px;
	overflow: visible;
}
#div_za {
	fill: transparent;
}
.div_za {
	position: absolute;
	overflow: visible;
	width: 516px;
	height: 429px;
	left: 0px;
	top: 0px;
}
#btn-book-orange_zb {
	position: absolute;
	width: 252px;
	height: 71px;
	left: 0px;
	top: 215px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: contact.html;
	cursor: pointer;
}
#Path_1_zc {
	fill: rgba(236,172,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1_zc {
	overflow: visible;
	position: absolute;
	width: 252px;
	height: 71px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Book_now_zd {
	left: 29px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(63,7,19,1);
}
#Transit_ze {
	left: 0px;
	top: 125px;
	position: absolute;
	overflow: visible;
	width: 517px;
	height: 80px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 68px;
	color: rgba(255,255,255,1);
}
#navbar_zf {
	position: absolute;
	width: 1260px;
	height: 124px;
	left: 70px;
	top: 0px;
	overflow: visible;
}
#div_zg {
	fill: transparent;
}
.div_zg {
	display: none;
	position: absolute;
	overflow: visible;
	width: 1400px;
	height: 124px;
	left: -70px;
	top: 0px;
}
#blur_background_zh {
	filter: blur(30px);
	fill: rgba(255,255,255,1);
}
.blur_background_zh {
	position: absolute;
	overflow: visible;
	width: 1260px;
	height: 124px;
	left: 0px;
	top: 0px;
}
#links_zi {
	position: absolute;
	width: 1243px;
	height: 22px;
	left: 10px;
	top: 97px;
	overflow: visible;
}
#col-1-promo_zj {
	position: absolute;
	width: 95px;
	height: 21px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_zk {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_zk {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -10px;
	top: -9px;
}
#Promotions_zl {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: promo.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-2-about_zm {
	position: absolute;
	width: 51px;
	height: 21px;
	left: 169px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_zn {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_zn {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -38px;
	top: -9px;
}
#About_zo {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: about.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-3-lodging_zp {
	position: absolute;
	width: 69px;
	height: 21px;
	left: 294px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_zq {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_zq {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -24px;
	top: -9px;
}
#Lodging_zr {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: lodging.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-4-dining_zs {
	position: absolute;
	width: 53px;
	height: 21px;
	left: 436px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_zt {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_zt {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -25px;
	top: -9px;
}
#Dining_zu {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: dining.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-5-transit_zv {
	position: absolute;
	width: 54px;
	height: 21px;
	left: 563px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_zw {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_zw {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -13px;
	top: -9px;
}
#Transit_zx {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-6-experiences_zy {
	position: absolute;
	width: 102px;
	height: 21px;
	left: 691px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_zz {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_zz {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: 0px;
	top: -9px;
}
#Experiences_z {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: experiences.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-7-book_z {
	position: absolute;
	width: 91px;
	height: 21px;
	left: 867px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_z {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_z {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -37px;
	top: -9px;
}
#Book_Now_z {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: contact.html;
	cursor: pointer;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-8-contact_z {
	position: absolute;
	width: 92px;
	height: 21px;
	left: 1031px;
	top: 1px;
	overflow: visible;
}
#Rectangle_2_a {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_a {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -60px;
	top: -10px;
}
#Contact_Us_z {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: contact.html;
	cursor: pointer;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#col-9-faq_z {
	position: absolute;
	width: 46px;
	height: 21px;
	left: 1197px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_b {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_b {
	display: none;
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 36px;
	left: -87px;
	top: -9px;
}
#FAQS_z {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: faq.html;
	cursor: pointer;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,249,178,1);
}
#title_a {
	position: absolute;
	width: 1260px;
	height: 80px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#div_b {
	fill: transparent;
}
.div_b {
	position: absolute;
	overflow: visible;
	width: 1260px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Taniti_c {
	left: 535px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 191px;
	height: 80px;
	--web-animation: fadein 0.30000001192092896s ease-in-out;
	--web-action-type: page;
	--web-action-target: home.html;
	cursor: pointer;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 68px;
	color: rgba(236,172,93,1);
}